select,
fieldset {
    display: block;
    margin: 1rem 0;
}

button {
    display: block;
    margin: 1rem auto;
}

form {
    width: 10rem;
    height: 15rem;
    padding: 1rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
}

#topSide {
  display: flex;
    flex-direction: row;
}

#genre {
  margin: 0;
}

#topSide {
  justify-content: center;
}

#movieDisplay {
  background-color: black;
  height: 75vh;
  width: 70em;
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [first] 1fr [second2] 1fr [third] 1fr;
  grid-template-rows: [row1-start] 1fr [row1-end] 1fr [third-line] 1fr;
  overflow: scroll;
}

.movieCard {
  background-color: darkgray;
  height: 7em;
  width: 15em;
  margin: 10px;
}

